<div class="row g-0">
  <div class="offset-10 col-md-2 mt-2 btn btn-success"> <a class ="text-decoration-none text-reset" [routerLink]="['/contact/create']">Create contact</a> </div>
</div> <br>
<div class="row g-0">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Contact name</th>
            <th>Contact birthDate</th>
            <th>CPF</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.birthDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{contact.cpf}}</td>
            <td><button type="button" id="details" class="btn btn-primary" (click)="getContactDetails(contact.code)">Details</button></td>
            <td><button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(contact.code)">Update</button></td>
            <td><button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(contact.code)" >Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>