<div class="back card">
  <div class="row g-0">
    <div class="offset-10 col-md-2 mt-2 btn btn-primary"> <a class ="text-decoration-none text-reset" [routerLink]="['/contact/create']"><i class="bi bi-person-badge-fill"></i>Create contact</a> </div>
  </div> <br>
  <div class="row g-0">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>CPF</th>
              <th>Detalhes</th>
              <th>Atualizar</th>
              <th>Apagar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts">
              <td>{{contact.name}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.cpf}}</td>
              <td><button type="button" id="details" class="btn btn-info" (click)="getContactDetails(contact.code)">Detalhes</button></td>
              <td><button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(contact.code)">Atualizar</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(contact.code)" >Apagar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>