<div class="back card">
  <div class="card card-body bg-light mb-2 mt-2">
      <div class="row">
        <div class="col-md-4">
          <strong class="fontTitleMedium">Nome:</strong>
        </div>
        <div class="fontRegular col-md-3">
          {{collaborator?.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <strong class="fontTitleMedium">Data de Nascimento:</strong>
        </div>
        <div class="fontRegular col-md-3">
          {{collaborator?.birthDate | date: 'dd/MM/yyyy'}}
        </div>
      </div>
    </div>
    
  <br>

  <span class="fontTitleBig"><i class="bi bi-award-fill"></i> Habilitações:</span>

  <app-collaborator-licenses [licenses]="collaborator?.licenses" (onLicenseClick)="printToConsole($event)"></app-collaborator-licenses>

  <div class="col-md-1">
    <button type="button" class="fontButton btn btn-secondary" (click)="redirectToCollaboratorList()">Voltar</button>
  </div>
</div>  