<div class="back card">
  <div class="row g-0">
    <div *ngIf="(role) !== 'Collaborator'" class="offset-10 col-md-2 mt-2 btn btn-primary"> <a class ="fontButton text-decoration-none text-reset" [routerLink]="['/collaborator/create']"><i class="bi bi-people-fill"></i>Cadastrar Colaborador</a> </div>
  </div> 
    <br>
      <div class="row g-0">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="fontTitle">Código</th>
                  <th class="fontTitle">Name</th>
                  <th class="fontTitle">Email</th>
                  <th class="fontTitle">Detalhes</th>
                  <th *ngIf="(role) !== 'Collaborator'" class="fontTitle">Atualizar</th>
                  <th *ngIf="(role) !== 'Collaborator'" class="fontTitle">Apagar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let collaborator of collaborators">
                  <td class="fontRegular">{{collaborator.code}}</td>
                  <td class="fontRegular">{{collaborator.name}}</td>
                  <td class="fontRegular">{{collaborator.email}}</td>
                  <td><button type="button" id="details" class="fontButton btn btn-info" (click)="getCollaboratorDetails(collaborator.code)">Detalhes</button></td>
                  <td><button *ngIf="(role) !== 'Collaborator'" type="button" id="update" class="fontButton btn btn-success" (click)="redirectToUpdatePage(collaborator.code)">Atualizar</button></td>
                  <td><button *ngIf="(role) !== 'Collaborator'" type="button" id="delete" class="fontButton btn btn-danger" (click)="redirectToDeletePage(collaborator.code)" >Apagar</button></td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
      </div>
</div>