<div class="row">
    <div class="offset-10 col-md-2 mt-2"> <a [routerLink]="['/collaborator/create']">Create collaborator</a> </div>
  </div> <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Collaborator name</th>
              <th>Collaborator birthDate</th>
              <th>CPF</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let collaborator of collaborators">
              <td>{{collaborator.name}}</td>
              <td>{{collaborator.birthDate | date: 'dd/MM/yyyy'}}</td>
              <td>{{collaborator.cpf}}</td>
              <td><button type="button" id="details" class="btn btn-primary" (click)="getCollaboratorDetails(collaborator.code)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>