.container-fluid{
    height: 92.2vh;
}

.fillPage{
    height: 100%;
}

.col{
    padding: inherit;
}

em {
  color: #e71515;
  font-weight: bold;
}
.ng-invalid.ng-touched {
  border-color: red;
}

.col-2{
    max-width: 221px;
    background-color: #FFFFFF
    ;
}

.col{
    background-color: #F5F6FF;
    max-width: inherit;
}