<div class="container">
  <div class="row g-0">
    <div class="fillAvailable card back">
      <div class="row g-0">
        <div class="col-md-3">
          <label for="name" class="control-label fontTitleMedium">Name:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="name">
            {{ service?.name }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="price" class="control-label fontTitleMedium">Preço:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="price">
            {{ service?.price }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="time" class="control-label fontTitleMedium">Tempo:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="name">
            {{ service?.time }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="type" class="control-label fontTitleMedium">Tipo:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="type">
            {{ service?.type }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="description" class="control-label fontTitleMedium">Descrição:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="description">
            {{ service?.description }}
          </span>
        </div>
      </div>

      <br><br>

      <span class="fontTitle">Tem certeza?</span>

      <br />
      <div class="row g-0 justify-content-start">
        <div class="col-1 me-4">
          <button type="submit" class="fontButton btn btn-danger" (click)="deleteService()">
            Apagar
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="fontButton btn btn-secondary"
            (click)="redirectToServiceList()">
            Voltar
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
