<div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="fontTitle">Código</th>
              <th class="fontTitle">Descrição</th>
              <th class="buttonT fontTitle"><button type="button" class="fontButton btn btn-primary" (click)="open()">Adicionar</button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="contact != null" (click)="handleEvent('Clicked', contact)">
              <td class="fontRegular">{{contact?.code}}</td>
              <td class="fontRegular">{{contact?.name}}</td>
              <td class="buttonT"><button type="button" class="fontButton btn btn-danger" (click)="handleEvent('Remove', contact)">Remover</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>