@import "~bootstrap-icons/font/bootstrap-icons.css";
.d-flex {
  background-color: #FFFFFF;
}

div {
  text-align: start;
}

i {
  padding-right: 1em;
}

li {
  border-radius: 5px;

}

a{
  color: #484848
}
