<div class="container">
    <div class="row g-0">
      <div class="fillAvailable card back">
        
        <div class="row g-0">
            <div class="col-md-3">
              <label for="name" class="control-label">Name:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.name}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="birthDate" class="control-label">Data de Nascimento:</label>
            </div>
            <div class="col-md-7">
              <span name="birthDate">
                {{collaborator?.birthDate}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="cpf" class="control-label">CPF:</label>
            </div>
            <div class="col-md-7">
              <span name="cpf">
                {{collaborator?.cpf}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="email" class="control-label">Email:</label>
            </div>
            <div class="col-md-7">
              <span name="email">
                {{collaborator?.email}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="phone" class="control-label">Telefone:</label>
            </div>
            <div class="col-md-7">
              <span name="phone">
                {{collaborator?.phone}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="function" class="control-label">Função:</label>
            </div>
            <div class="col-md-7">
              <span name="function">
                {{collaborator?.function}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="salary" class="control-label">Salário:</label>
            </div>
            <div class="col-md-7">
              <span name="salary">
                {{collaborator?.salary}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="commission" class="control-label">Comissão:</label>
            </div>
            <div class="col-md-7">
              <span name="commission">
                {{collaborator?.commision}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
              <label for="isAdmin" class="control-label">Asministrador:</label>
            </div>
            <div class="col-md-7">
              <span name="isAdmin">
                {{collaborator?.isAdmin}}
              </span>
            </div>
        </div>

        <br><br>

        <span style="font-family: Georgia, 'times new roman', 'bitstream charter', Times, serif;">Tem certeza?</span>

        <br>
        <div class="row g-0 justify-content-start">
            <div class="col-1 me-4">
                <button type="submit" class="btn btn-danger" (click)="deleteCollaborator()">Apagar</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary" (click)="redirectToCollaboratorList()">Voltar</button>
            </div>
        </div>
      <br>
    </div>
  </div>