<div class="container">
    <div class="row g-0">
      <div class="fillAvailable card back">
        
        <div class="row g-0">
            <div class="col-md-4">
              <label for="name" class="control-label fontTitleMedium">Name:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="name">
                {{collaborator?.name}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="birthDate" class="control-label fontTitleMedium">Data de Nascimento:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="birthDate">
                {{collaborator?.birthDate}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="cpf" class="control-label fontTitleMedium">CPF:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="cpf">
                {{collaborator?.cpf}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="email" class="control-label fontTitleMedium">Email:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="email">
                {{collaborator?.email}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="phone" class="control-label fontTitleMedium">Telefone:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="phone">
                {{collaborator?.phone}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="function" class="control-label fontTitleMedium">Função:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="function">
                {{collaborator?.function}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="salary" class="control-label fontTitleMedium">Salário:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="salary">
                {{collaborator?.salary}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="commission" class="control-label fontTitleMedium">Comissão:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="commission">
                {{collaborator?.commision}}
              </span>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4">
              <label for="isAdmin" class="control-label fontTitleMedium">Asministrador:</label>
            </div>
            <div class="col-md-7">
              <span class ="fontRegular" name="isAdmin">
                {{collaborator?.isAdmin}}
              </span>
            </div>
        </div>

        <br><br>

        <span class="fontTitle" >Tem certeza?</span>

        <br>
        <div class="row g-0 justify-content-start">
            <div class="col-1 me-4">
                <button type="submit" class="fontButton btn btn-danger" (click)="deleteCollaborator()">Apagar</button>
            </div>
            <div class="col">
                <button type="button" class="fontButton btn btn-secondary" (click)="redirectToCollaboratorList()">Voltar</button>
            </div>
        </div>
      <br>
    </div>
  </div>