<div class="container">
    <div class="row">
      <div class="col-md-10 card card-body bg-light mb-2 mt-2">
        
        <div class="row">
            <div class="col-md-3">
              <label for="name" class="control-label">Name:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.name}}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="birthDate" class="control-label">Data de Nascimento:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.birthDate}}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="cpf" class="control-label">CPF:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.cpf}}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="email" class="control-label">Email:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.email}}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="phone" class="control-label">Telefone:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.phone}}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="function" class="control-label">Função:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.function}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="salary" class="control-label">Salário:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.salary}}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="commission" class="control-label">Comissão:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.commision}}
              </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <label for="isAdmin" class="control-label">Asministrador:</label>
            </div>
            <div class="col-md-7">
              <span name="name">
                {{collaborator?.isAdmin}}
              </span>
            </div>
        </div>

        <br>
        <div class="row justify-content-start">
            <div class="col-2">
                <button type="submit" class="btn btn-info" (click)="deleteCollaborator()">Delete</button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-danger" (click)="redirectToCollaboratorList()">Cancel</button>
            </div>
      </div>
      <br>
      <span style="font-family: Georgia, 'times new roman', 'bitstream charter', Times, serif;">Tem certeza?</span>
    </div>
  </div>