<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-3">
      <strong>Contact name:</strong>
    </div>
    <div class="col-md-3">
      {{contact?.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Date of birth:</strong>
    </div>
    <div class="col-md-3">
      {{contact?.birthDate | date: 'dd/MM/yyyy'}}
    </div>
  </div>
  <ng-template #advancedUser>
    <div class="row">
      <div class="col-md-3">
        <strong>Type of user:</strong>
      </div>
      <div class="col-md-3">
        <span [appAppend]="contact" class="text-info">Advanced user.</span>
      </div>
    </div>
  </ng-template>
</div>