<div class="card back">
  <div class="card card-body bg-light mb-2 mt-2">
    <div class="row g-0">
      <div class="col-md-3">
        <strong class="fontTitleMedium">Contact name:</strong>
      </div>
      <div class="col-md-4">
        {{contact?.name}}
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="address" class="control-label fontTitleMedium">Endereço:</label>
      </div>
      <div class="col-md-7">
        <span class="fontRegular" name="address">
          {{ contact?.address }}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="email" class="control-label fontTitleMedium">Email:</label>
      </div>
      <div class="col-md-7">
        <span class="fontRegular" name="name">
          {{ contact?.email }}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="cpf" class="control-label fontTitleMedium">CPF:</label>
      </div>
      <div class="col-md-7">
        <span class="fontRegular" name="cpf">
          {{ contact?.cpf }}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="phone" class="control-label fontTitleMedium">Telefone:</label>
      </div>
      <div class="col-md-7">
        <span class="fontRegular" name="phone">
          {{ contact?.phone }}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="gender" class="control-label fontTitleMedium">Gênero:</label>
      </div>
      <div class="col-md-7">
        <span class="fontRegular" name="gender">
          {{ contact?.gender }}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="birthDate" class="control-label fontTitleMedium">Data de Nascimento:</label>
      </div>
      <div class="col-md-7">
        <span class="fontRegular" name="name">
          {{ contact?.birthDate }}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="creatorCode" class="control-label fontTitleMedium">Criador:</label>
      </div>
      <div class="col-md-7">
        <span class ="fontRegular" name="creatorCode">
          {{contact?.creatorCode}}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="createDate" class="control-label fontTitleMedium">Data de criação:</label>
      </div>
      <div class="col-md-7">
        <span class ="fontRegular" name="createDate">
          {{contact?.createDate | date: 'dd/MM/yyyy HH:mm':'UTC-6'}}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="updaterCode" class="control-label fontTitleMedium">Atualizador:</label>
      </div>
      <div class="col-md-7">
        <span class ="fontRegular" name="updaterCode">
          {{contact?.updaterCode ? contact?.updaterCode : contact?.updateDate ? 'Editado pelo cliente' : '' }}
        </span>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-3">
        <label for="updateDate" class="control-label fontTitleMedium">Data de Atualização:</label>
      </div>
      <div class="col-md-7">
        <span class ="fontRegular" name="updateDate">
          {{contact?.updateDate | date: 'dd/MM/yyyy HH:mm':'UTC-6'}}
        </span>
      </div>
    </div>

  </div>

  <br>
  <div class="col-md-1">
    <button type="button" class="fontButton btn btn-secondary" (click)="redirectToContactList()">Voltar</button>
  </div>
</div>