<div class="container">
  <div class="row g-0">
    <div class="fillAvailable card back">
      <div class="row g-0">
        <div class="col-md-3">
          <label for="name" class="control-label fontTitleMedium">Name:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="name">
            {{ contact?.name }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="address" class="control-label fontTitleMedium">Enderço:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="address">
            {{ contact?.address }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="email" class="control-label fontTitleMedium">Email:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="name">
            {{ contact?.email }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="cpf" class="control-label fontTitleMedium">CPF:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="cpf">
            {{ contact?.cpf }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="phone" class="control-label fontTitleMedium">Telefone:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="phone">
            {{ contact?.phone }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="gender" class="control-label fontTitleMedium">Gênero:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="gender">
            {{ contact?.gender }}
          </span>
        </div>
      </div>

      <div class="row g-0">
        <div class="col-md-3">
          <label for="birthDate" class="control-label fontTitleMedium">Data de Nascimento:</label>
        </div>
        <div class="col-md-7">
          <span class="fontRegular" name="name">
            {{ contact?.birthDate }}
          </span>
        </div>
      </div>

      <br><br>

      <span class="fontTitle">Tem certeza?</span>

      <br />
      <div class="row g-0 justify-content-start">
        <div class="col-1 me-4">
          <button type="submit" class="fontButton btn btn-danger" (click)="deleteContact()">
            Apagar
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="fontButton btn btn-secondary"
            (click)="redirectToContactList()">
            Voltar
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
